/* center all texts on the web application */
body{
    background-color: #a8dadc ;
    text-align: center;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    /* padding-top: 5%; */
    color:#1d3557;
}

h2{
    font-family:sans-serif;
    font-size: 2rem;
    color:#e63946;
}

h3{
    font-family:monospace;
    animation-duration: 2s;
    animation-name: bigsmall;
}

p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#f1faee;
}

/* round out border of img */
img{
    border-radius: 50%;
    
}

/* blur div naturally by 5 pixels */
div{
    filter:blur(5px);
}

/* hovering over the div would unblur it */
div:hover{
    filter:blur();
}

/* a{
    display: flex;
} */

/* from MDN provides animation to above selected tag */
@keyframes bigsmall {
    25%,
    /* 1st change to this color & before expand */
    75% {
      scale: 100%;
      color:#e63946
    }
    /* then change to green when expanding */
    50% {
      scale: 200%;
      color: #007200;
    }
  }